body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav {
    margin-top: 1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 1em;
}

a {
    text-decoration: none;
    color: #333;
}

main-content {
    padding: 2em;
}

.main-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    flex: 1;

}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}